<!-- /* Use HTML forms for user input to prep the game */ -->


<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="./styles.css">
    <style>
        
    </style>
</head>

<body>
    <h1><center>Welcome to Tic-Tac-Toe</center></h1>

    <h3><center>Please make a selection for your game below:</center></h3>
    <form action="http://127.0.0.1:5000/newgame" method="POST">
        <fieldset>
            <!-- <legend><h4></h4></legend> -->
            <div class="three-col-head">
                <div class="col1">
                    <h4>Names:</h4>
                </div>
            
                <div class="col2">
                    <h4><center>Player Type:</center></h4>
                </div>

            </div>

            <p><div class="three-col">
                <div class="col1">
                    <label for="first_player_name">First Player Name:</label>
                    <input name="first_player_name" type="text">
                </div>
            
                <div class="col2">
                    <input type="radio" id="Human" name="Player 1 Selection" value="Human" checked>
                    <label for="Human">Human</label>
                </div>

                <div class="col3">
                    <input type="radio" id="Bot" name="Player 1 Selection" value="Bot" checked>
                    <label for="Bot">Bot</label>
                </div>

            </div></p>

            <p><div class="three-col">
                <div class="col1">
                    <label for="second_player_name">Second Player Name:</label>
                    <input name="second_player_name" type="text">
                </div>
            
                <div class="col2">
                    <input type="radio" id="Human" name="Player 2 Selection" value="Human" checked>
                    <label for="Human">Human</label>
                </div>

                <div class="col3">
                    <input type="radio" id="Bot" name="Player 2 Selection" value="Bot" checked>
                    <label for="Bot">Bot</label>
                </div>

            </div></p>
            
        <p><button>Start New Game</button></p>
    </form>
</body>
</html>