<!-- Page for interaction; use tables -->

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="./styles.css">
    <style>
        
    </style>
</head>

<body>
    <center><table class="board">
        <thead>
            <th></th>
            <th>Col 1</th>
            <th>Col 2</th>
            <th>Col 3</th>
        </thead>
        <tr>
            <td>Row 1</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Row 2</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Row 3</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table></center>
</body>
</html>